<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>IOTA Pay-per-Content Gateway</title>
</head>
<body>
    <div style="margin: 50px;">
        <div style="text-align: center;">
            <h1>{{ data.title }}</h1>
            <h5>{{ data.excerpt }}</h5>
        </div>
        <div style="margin-top: 50px;">
            {{ data.content|safe }}
        </div>
        
    </div>
    <footer>
        Original source <a href="{{data.origin}}">{{data.origin}}</a>
    </footer>
</body>
<style>
figure {
    text-align: center;
}
footer {
    text-align: center;
}
</style>
</html>