<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="module" src="//iota-button.org/build/iota-button.esm.js"></script> 
<script nomodule src="//iota-button.org/build/iota-button.js"></script>
<script>
    $(document).ready(function () {
        // start up the SocketIO connection to the server
        var socket = io();
        // this is a callback that triggers when the "message" event is emitted by the server.
        console.log('connecting websocket...');
        socket.on('connect', function() {
            console.log('connected websocket');
            socket.emit('await_payment', {user_token_hash: '{{ user_token_hash }}'});
        });
        socket.on('payment_received', function() {
            location.reload();
        });

    });
</script>>
    <img src="{{ url_for('static', filename='logo.png') }}" style="max-width: 100px; margin: auto;"/>
    <h2 style="text-align: center;"">Ghost IOTA Pay</h2>
    <h5>Please pay <strong></strong>{{ price }} IOTA</strong> to the following address and attach the displayed data.</h5>
    <br>
    <p>Address: <strong>{{ iota_address }}</strong></p>
    <p>Data: <strong>{{ user_token_hash }}</strong></p>
    <br>

    <a style="color: white;
            text-decoration: none;
            margin: auto;
            background: rgb(49, 113, 197);
            padding: 5px; border-radius: 5px;"
            href="iota://wallet/send/{{iota_address}}?amt={{price}}">
                Firefly wallet
    </a>
